.clients
    &-title
        &::before
            left: 25px
        &::after
            right: 25px
    &-subtitle
        margin-bottom: 30px
        &::after, &::before
            display: none
    &-slide
        margin: auto
    &-slider
        .owl-nav
            height: 0!important
            display: block!important
    &-img
        text-align: center
        img
            margin: auto
            width: 150px!important

@media screen and (max-width: 991px)
    .clients
        &-title
            &::before
                left: 0
                width: 25px
            &::after
                right: 0
                width: 25px

@media screen and (max-width: 767px)
    .clients
        &-title
            &::before
                top: 15px
            &::after
                top: 15px