.video
    &-wrapper
        margin: auto
        width: 100%
        background: url(../img/video/video-test.jpg) center no-repeat
        -webkit-background-size: cover
        background-size: cover
        background-position-y: 0
        height: 550px
        position: relative
        overflow: hidden
    &-overlay
        position: absolute
        top: 50%
        transform: translateY(-50%) rotate(30deg)
        left: -150px
        width: 50%
        height: 300%
        background: rgba($light, .85)
        &::after
            content: ''
            position: absolute
            right: -25px
            width: 15px
            height: 300%
            z-index: 2
            background: rgba($light, .85)
    .container.pt-md-5
        position: relative
        z-index: 2
        top: 50%
        transform: translateY(-50%)
    &-block
        content: ''
        position: absolute
        top: 54%
        left: 60%
        cursor: pointer
        svg
            width: 100px
            height: 100px
            .fil1
                fill: $orange
                transition: fill .3s
            &:hover
                .fil1
                    fill: $light
    &-title
        position: relative
        z-index: 2
        padding: 2px 10px
        font-family: Constantine, serif
        background: $dark
        color: #fff
        font-size: 40px
        &__bottom
            display: none
        &__mob
            display: none
    &-br
        height: 0
    &-button
        margin: 50px 0
        &__bottom
            display: none
    &-search
        margin: auto
        width: 400px
        position: relative
        &__bottom
            display: none
        input
            width: 400px
            padding: 8px 20px
            border: none
            border-radius: 30px
            opacity: .75
        &__icon
            z-index: 99
            cursor: pointer
            position: absolute
            font-size: 20px
            right: 20px
            top: 50%
            transform: translateY(-50%)
            color: $dark
    &-contacts
        position: relative
        z-index: 2
        display: none

#divPlayer1
    display: none

@media screen and (max-width: 1799px)
    .video .container.pt-md-5
        transform: none
        top: 0

@media screen and (max-width: 1750px)
    .video
        &-search
            &__top
                display: none
            &__bottom
                display: block

@media screen and (max-width: 1450px)
    .video
        &-button
            &__top
                display: none
            &__bottom
                display: block

@media screen and (max-width: 1199px)
    .video
        &-title
            font-size: 30px

@media screen and (max-width: 991px)
    .video
        &-wrapper
            height: 450px
        &-block
            svg
                width: 70px
                height: 70px

@media screen and (max-width: 767px)
    .video
        &-title
            font-size: 25px
            &__top
                display: none
            &__bottom
                display: block
        &-wrapper
            height: 400px
        &-block
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
        &-button
            margin: 20px 0 30px
        &-contacts
            margin-bottom: 30px
            padding: 5px 0
            display: flex
            justify-content: space-between
            align-items: center
        &-social
            display: flex
            width: 150px
        &-phone
            color: #fff
            a
                margin-left: 5px
                position: relative
                color: #fff
                &::after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 0
                    height: 1px
                    background: #fff
                    transition: width .3s
                &:hover
                    color: #fff
                    &::after
                        width: 100%


@media screen and (max-width: 575px)
    .video
        &-overlay
            display: none
        &-wrapper
            //height: 350px
            //background: url(../img/video/video-modile__bg.png) center no-repeat
            //-webkit-background-size: cover
            //background-size: cover
            //-ms-background-position-y: 0
            //background-position-y: 0
        &-phone
            a
                color: $dark
            i
                color: $dark
        &-social
            .header-social__link
                opacity: 1
        &-titles
            width: 100%
            text-align: center
        &-title
            font-size: 18px
            &__desc
                display: none
            &__mob
                display: inline-block
        &-br
            display: none
        &-button
            padding: 5px 5px 5px 15px
            margin: 5px auto 10px
        &-block
            svg
                height: 50px
                width: 50px
                &:hover
                    .fil1
                        fill: $dark
        &-search
            width: 290px
            input
                width: 290px
        &-contacts
            margin-bottom: 105px
        &-social
            width: 120px

@media screen and (max-width: 450px)
    .video
        &-offer
            max-width: inherit!important
            width: 100%!important











