.video
    &-wrapper
        margin: auto
        width: 100%
        background: url(../img/video/video-bg.png) center no-repeat
        -webkit-background-size: cover
        background-size: cover
        background-position-y: 0
        height: 550px
        position: relative
    &-block
        content: ''
        position: absolute
        top: 54%
        left: 60%
        cursor: pointer
        svg
            width: 100px
            height: 100px
            .fil1
                fill: $orange
                transition: fill .3s
            &:hover
                .fil1
                    fill: $light
    &-title
        padding: 2px 10px
        font-family: Constantine, serif
        background: $dark
        color: #fff
        font-size: 40px
        &__mob
            display: none
    &-br
        height: 0
    &-button
        margin: 50px 0
    &-search
        margin: auto
        width: 400px
        position: relative
        input
            width: 400px
            padding: 8px 20px
            border: none
            border-radius: 30px
            opacity: .75
        &__icon
            z-index: 99
            cursor: pointer
            position: absolute
            font-size: 20px
            right: 20px
            top: 50%
            transform: translateY(-50%)
            color: $dark
    &-contacts
        display: none

#divPlayer1
    display: none


@media screen and (max-width: 991px)
    .video
        &-title
            font-size: 30px
        &-wrapper
            height: 450px

@media screen and (max-width: 767px)
    .video
        &-title
            font-size: 25px
        &-wrapper
            height: 400px
        &-block
            left: 70%
        &-button
            margin: 20px 0 30px
        &-contacts
            margin-bottom: 30px
            padding: 15px 0
            display: flex
            justify-content: space-between
            align-items: center
        &-social
            display: flex
            width: 150px
        &-phone
            color: #fff
            a
                margin-left: 5px
                position: relative
                color: #fff
                &::after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 0
                    height: 1px
                    background: #fff
                    transition: width .3s
                &:hover
                    color: #fff
                    &::after
                        width: 100%


@media screen and (max-width: 575px)
    .video
        &-wrapper
            height: 350px
            background: url(../img/video/video-modile__bg.png) center no-repeat
            -webkit-background-size: cover
            background-size: cover
            -ms-background-position-y: 0
            background-position-y: 0
        &-phone
            i
                color: $light
        &-social
            .header-social__link
                opacity: 1
        &-titles
            width: 100%
            text-align: center
        &-title
            font-size: 18px
            &__desc
                display: none
            &__mob
                display: inline-block
        &-br
            display: none
        &-button
            padding: 5px 5px 5px 15px
            margin: 5px auto 10px
        &-block
            top: 100px
            left: 50%
            transform: translateX(-50%)
            svg
                height: 50px
                width: 50px
                &:hover
                    .fil1
                        fill: $dark
        &-search
            width: 290px
            input
                width: 290px
        &-contacts
            margin-bottom: 110px
        &-social
            width: 120px













